Part_3/Validation_xsd/emp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Hospital">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Doctor" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="speciality" type="xs:string" />
              <xs:element name="numOfPatients" type="xs:string" />
            </xs:sequence>
            <xs:attribute name="id" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>